@font-face {
 font-family: cabin;
 src: url('PI/Cabin-Bold.ttf');
}

@font-face {
 font-family: helvetica-bold;
 src: url('PI/Helvetica-Bold-Font.ttf');
}

@font-face {
 font-family: karla;
 src: url('PI/Karla-VariableFont_wght.ttf');
}

:root {
 --uno-white: #e5e9e7;
 --uno-bright-white:#e7eae8;
 --uno-red: #d71c1c;
 --uno-yellow: #e7c924;
 --uno-green: #359741;
 --uno-blue: #0062a8;
 --white:#fff;
 --black:#222;
}



/* var(--uno-yellow) */

html {
 background-color: white;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}

main {
 width: 400px;
 height: 400px;
 margin: auto;
 border: 3px solid transparent;
}

.wrapper {
 width: 100%;
 height: 100%;
 position: relative;
}

.content {
 width: 100%;
 height: 100%;
 position: absolute;
 display: flex;
 justify-content: center;
 justify-items: center;
  
}

.container {
 position: relative;
 width: 100%;
 height: 100%;
}

.absolute-container {
 position: absolute;
 width: 100%;
 height: 100%;
}

.Box-image {
 position: absolute;
 display: flex;
 text-align: center;
 height: calc(100vw - 112px);
 height: calc(100vh - 66px);
 margin: 33px; 
aspect-ratio: 1/1.19;
transform: scale(1.05);
margin-top:20px;
}

.box {
 width: 67%;
 margin-left: 16.5%;
 margin-right: 16.5%;
 height: 100%;
 position: absolute;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 box-sizing: border-box;
 overflow: hidden;

}

.original-overlay {
 opacity: 40%;
 height: 100%;
 width: 100%;
 z-index: -10;
}

.tab {
 width: 94%;
 height: 18.2%;
 box-sizing: border-box;
 margin-left: 3%;
 margin-top: 0;
 position: relative;
}

.tab-box {
 height: 80%;
 width: 100%;
 box-sizing: border-box;
 margin-top: 6%;
 position: absolute;
 background-color: var(--uno-red);
 z-index: 0;
}

.tab-rounded-left {
 height: 50%;
 width: 20%;
 box-sizing: border-box;
 margin-top: 0%;
 position: absolute;
 border-radius: 40%;
 background-color: var(--uno-red);
 z-index: 0;
}

.tab-rounded-right {
 height: 50%;
 width: 20%;
 box-sizing: border-box;
 margin-top: 0%;
 position: absolute;
 border-radius: 40%;
 margin-left: 80%;
 background-color: var(--uno-red);
 z-index: 0;
}

.tab-rounded-center {
 width: 80%;
 margin-left: 10%;
 box-sizing: border-box;
 height: 50%;
 position: absolute;
 background-color: var(--uno-red);
 z-index: 0;
}

.tab-cutout {
 width: 39%;
 height: 42%;
 z-index: 10;
 position: absolute;
 margin-left: 30.5%;
 margin-top: 11.5%;
 box-sizing: border-box;
}

.tab-cutout-square {
 width: 80%;
 height: 65%;
 background-color: white;
 box-sizing: border-box;
 margin-top: 10%;
 margin-left: 10%;
 position: absolute;
}

.tab-cutout-circle-right {
 height: 65%;
 width: 20%;
 border-radius: 100%;
 background-color: white;
 box-sizing: border-box;
 position: absolute;
 margin-top: 10%;
 margin-left: 80%;
}

.tab-cutout-circle-left {
 height: 65%;
 width: 20%;
 border-radius: 100%;
 background-color: white;
 box-sizing: border-box;
 position: absolute;
 margin-top: 10%;
}

.tab-cutout-circle-top {
 height: 70%;
 width: 22%;
 border-radius: 100%;
 background-color: white;
 box-sizing: border-box;
 position: absolute;
 margin-left: 39%;
}





.fifty-wrapper-2 {
    width: 24.4%;
    aspect-ratio: 1/1;
    position: absolute;
  z-index: 2;
  transform: scaleY(1.2);
  margin-left: 4%;
  margin-top: 5.4%;
}


.fifty-svg-wrapper-2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fifty-black-background-2 {
    position: absolute;
    background-color: var(--black);
    width: 66.5%;
    height: 76%;
    box-sizing: border-box;
    border-radius: 10%;
    margin-top: 12.5%;
    margin-left: 17%;
}

.fifty-zero-colors-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skew(-21deg) scaleY(1.32) scaleX(0.9);
    margin-top: 41%;
    margin-left: 25.8%;

}


.fifty-red-2 {
    width: 20%;
    height: 20%;
    border-top-left-radius: 100%;
    background-color: var(--uno-red);
    position: absolute;
    margin-left: 0%;
}
.fifty-blue-2 {
    width: 20%;
    height: 20%;
    border-top-right-radius: 100%;
    background-color: var(--uno-blue);

    margin-left: 20%;
    position: absolute;
}
.fifty-yellow-2 {
    width: 20%;
    height: 20%;
    border-bottom-left-radius: 100%;
    background-color: var(--uno-yellow);
    margin-top: 20%;
    position: absolute;
    margin-left: 0%;

}
.fifty-green-2 {
    width: 20%;
    height: 20%;
    border-bottom-right-radius: 100%;
    background-color: var(--uno-green);
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
}


.mattel-wrapper {
 width: 100%;
 height: 100%;
 position: absolute;
  margin-top: 0%;
}

.Mattel-spike {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 3;
 margin-left: -12.3%;
 margin-top: -0.2%;
}

.mattel-text {
 position: absolute;
 z-index: 4;
 font-size: 1.55vh;
 font-family: helvetica-bold;
 transform: rotate(-15deg);
 margin-left: 80.8%;
 font-weight: 700;
 margin-top: 15%;
 color: var(--uno-red);
}

.games {
 position: absolute;
 z-index: 3;
 font-family: karla;
 font-size: 1.5vh;
 margin-left: 81.3%;
 margin-top: 24%;
 color: white;
}

.box-top {
 width: 100%;
 height: 3.5%;
 box-sizing: border-box;
 overflow: hidden;
 margin-top: -1%;
}

.box-top-background-container {
 width: 100%;
 height: 100%;
 position: absolute;
  min-height: 10vh;
}

.box-top-left {
 height: 100%;
 width: 90%;
 background-color: var(--uno-red);
 margin-left: -72%;
 transform:  skew(-40deg);
 border-top: #d6313d 1px solid;
 box-sizing: border-box;
  position: absolute;
}

.box-top-right {
 height: 100%;
 width: 50%;
 background-color: var(--uno-red);
 margin-left: 0%;
 transform: translateX(244%) skew(40deg);
 border-top: #d6313d 1px solid;
 box-sizing: border-box;
position: absolute;
}

.box-top-underline {
 width: 100%;
 border-bottom: #d03e3d 1px solid;
 height: 1px;
 z-index: 1;
 position: absolute;
 margin-top: 5.3%;
}


.uno-box-top-wrapper {
 width: 20%;
 aspect-ratio: 1/1;
 position: absolute;
 transform: scaleX(1.5) skew(10deg) scaleY(0.3);
 margin-left: 8%;
 margin-top: -6%;
}

.box-top-cards-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
margin-top: -44%;
  margin-left: 3%;

    position: absolute;
  transform: scale(0.3);
}

.yellow-one-wrapper-box-top {
    position: absolute;
    width: 100%;
    height: 100%;
}
.yellow-one-box-top-outline {
    height: 9%;
    width: 37%;
    border: transparent 1px solid;
    transform: skew(55deg) rotate(-2.5deg);
    margin-left: 56.5%;
    margin-top: 32%;
    border-radius: 10%;
    z-index: 4;
    background-color: var(--uno-white);
    box-shadow: -2px 2px 0 0 rgba(0, 0, 0, 0.3);
}
.yellow-one-box-top-circle {
    height: 64%;
    width: 86.8%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-10deg) rotate(5deg);
    margin-top: 4%;
    margin-left: 7.4%;
    background-color: var(--uno-white);
    z-index: 6;
    position: absolute;
}

.yellow-one-box-top-circle-two {
    height: 85%;
    width: 90%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-5deg) rotate(5deg);
    background-color: var(--uno-yellow);
    z-index: 4;
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
}

.yellow-one-box-top-color {
    height: 80%;
    width: 85%;
    border: transparent 1px solid;
    border-radius: 10%;
    z-index: 5;
    position: absolute;
    margin-top: 2%;
    margin-left: 8%;
    background-color: var(--uno-yellow);
}



.yellow-one-svg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 30%;
    margin-top: 0%;
    z-index: 8;
    transform: scaleX(7) scaleY(0.9);
}

/*--------------------------------------------------------------*/

.red-two-wrapper-box-top {
    position: absolute;
    width: 100%;
    height: 100%;
}

.red-two-box-top-outline {

    height: 9%;
    width: 37%;
    border: transparent 1px solid;
    transform: skew(10deg) rotate(-2.5deg);
    margin-left: 41%;
    margin-top: 32%;
    border-radius: 10%;
    z-index: 2;
    background-color: var(--uno-white);
    box-shadow: -2px 2px 0 0 rgba(0, 0, 0, 0.3);
}


.red-two-svg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 30%;
    margin-top: 0%;
    z-index: 8;
    transform: scaleX(7) scaleY(0.9);
}


.red-two-box-top-color {
    height: 80%;
    width: 85%;
    border: transparent 1px solid;
    border-radius: 10%;
    z-index: 3;
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
    background-color: var(--uno-red);
}

.red-two-box-top-circle {
    height: 64%;
    width: 86.8%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-10deg) rotate(5deg);
    margin-top: 4%;
    margin-left: 6.4%;
    background-color: var(--uno-white);
    z-index: 4;
    position: absolute;
}
.red-two-box-top-circle-two {
    height: 85%;
    width: 85%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-5deg) rotate(5deg);
    background-color: var(--uno-red);
    z-index: 4;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}


/*--------------------------------------------------------------*/

.blue-three-wrapper-box-top {
    position: absolute;
    width: 100%;
    height: 100%;
}

.blue-three-box-top-outline {

    height: 8%;
    width: 37%;
    border: transparent 1px solid;
    transform: skew(-40deg) rotate(2deg);
    margin-left: 25%;
    margin-top: 32.6%;
    border-radius: 10%;
    z-index: 2;
    background-color: var(--uno-white);
    box-shadow: -2px 2px 0 0 rgba(0, 0, 0, 0.3);
}


.blue-three-svg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 20%;
    margin-top: 0%;
    z-index: 8;
    transform: scaleX(7) scaleY(0.9);
}


.blue-three-box-top-color {
    height: 80%;
    width: 85%;
    border: transparent 1px solid;
    border-radius: 10%;
    z-index: 3;
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
    background-color: var(--uno-blue);
}

.blue-three-box-top-circle {
    height: 64%;
    width: 86.8%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-10deg) rotate(5deg);
    margin-top: 4%;
    margin-left: 6.4%;
    background-color: var(--uno-white);
    z-index: 4;
    position: absolute;
}
.blue-three-box-top-circle-two {
    height: 85%;
    width: 85%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-5deg) rotate(5deg);
    background-color: var(--uno-blue);
    z-index: 4;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}

/*--------------------------------------------------------------*/

.green-four-wrapper-box-top {
    position: absolute;
    width: 100%;
    height: 100%;
}

.green-four-box-top-outline {

    height: 7%;
    width: 37%;
    border: transparent 1px solid;
    transform: skew(-75deg) rotate(3deg);
    margin-left: 10%;
    margin-top: 32.8%;
    border-radius: 10%;
    z-index: 2;
    background-color: var(--uno-white);
    box-shadow: -2px 2px 0 0 rgba(0, 0, 0, 0.3);
}


.green-four-svg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 11%;
    margin-top: 0%;
    z-index: 8;
    transform: scaleX(7) scaleY(0.9);
}


.green-four-box-top-color {
    height: 80%;
    width: 85%;
    border: transparent 1px solid;
    border-radius: 10%;
    z-index: 3;
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
    background-color: var(--uno-green);
}

.green-four-box-top-circle {
    height: 64%;
    width: 86.8%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-10deg) rotate(5deg);
    margin-top: 4%;
    margin-left: 6.4%;
    background-color: var(--uno-white);
    z-index: 4;
    position: absolute;
}
.green-four-box-top-circle-two {
    height: 85%;
    width: 85%;
    border-radius: 100%;
    margin: 5%;
    transform: skewY(-5deg) rotate(5deg);
    background-color: var(--uno-green);
    z-index: 4;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}


/*--------------------------------------------------------------*/



.box-front {
 width: 100%;
 height: 78.8%;
 background-color: var(--uno-red);
  border-left: 1px #b51e22 solid ;
  border-right: 1px #b51e22 solid ;
  border-bottom-right-radius: 1%;
  border-bottom-left-radius: 1%;
  overflow: hidden;
box-sizing: border-box;
}

.r-symbol {
 position: absolute;
 font-size: 2vh;
 margin-top: -0.5%;
 margin-left: 94.5%;
}



.shinyyyyy-wrapper-1 {
 width: 18%;
 aspect-ratio: 1 / 1;
 position: absolute;
 transform: rotate(-42deg);
 margin-left: -2.6%;
 margin-top: 48%;
}

.shinyyyyy-wrapper-2 {
 width: 18%;
 aspect-ratio: 1 / 1;
 position: absolute;
 transform: rotate(-41deg);
 margin-left: 13.2%;
 margin-top: 27%;
}

.shinyyyyy-wrapper-3 {
 width: 18%;
 aspect-ratio: 1 / 1;
 position: absolute;
 transform: rotate(-38deg);
 margin-left: 43%;
 margin-top: 15%;
}

.uno-logo-o-shiny-wrapper{
  width:11%; aspect-ratio: 1/1; position:absolute; 
margin-left: 84%; margin-top: 17.5%;}

.top-shinyyyyy {
 width: 32%;
 height: 36%;
 transform: skew(-20deg);
 background-color: #505050;
 margin-top: 25%;
 margin-left: 39%;
 position: absolute;
}

.bottom-shinyyyyy {
 width: 32%;
 height: 10%;
 transform: skew(-20deg);
 background-color: #505050;
 margin-top: 75%;
 margin-left: 26%;
 position: absolute;
}

.Phrase {
 position: absolute;
 color: var(--uno-white);
 text-shadow: 0px 0px #222, -0.01px 0.01px #222, -0.02px 0.02px #222, -0.03px 0.03px #222, -0.04px 0.04px #222, -0.05px 0.05px #222, -0.06px 0.06px #222, -0.07px 0.07px #222, -0.08px 0.08px #222, -0.09px 0.09px #222, -0.1px 0.1px #222, -0.11px 0.11px #222, -0.12px 0.12px #222, -0.13px 0.13px #222, -0.14px 0.14px #222, -0.15px 0.15px #222, -0.16px 0.16px #222, -0.17px 0.17px #222, -0.18px 0.18px #222, -0.19px 0.19px #222, -0.2px 0.2px #222, -0.21px 0.21px #222, -0.22px 0.22px #222, -0.23px 0.23px #222, -0.24px 0.24px #222, -0.25px 0.25px #222, -0.26px 0.26px #222, -0.27px 0.27px #222, -0.28px 0.28px #222, -0.29px 0.29px #222, -0.3px 0.3px #222, -0.31px 0.31px #222, -0.32px 0.32px #222, -0.33px 0.33px #222, -0.34px 0.34px #222, -0.35px 0.35px #222, -0.36px 0.36px #222, -0.37px 0.37px #222, -0.38px 0.38px #222, -0.39px 0.39px #222, -0.4px 0.4px #222, -0.41px 0.41px #222, -0.42px 0.42px #222, -0.43px 0.43px #222, -0.44px 0.44px #222, -0.45px 0.45px #222, -0.46px 0.46px #222, -0.47px 0.47px #222, -0.48px 0.48px #222, -0.49px 0.49px #222, -0.5px 0.5px #222, -0.51px 0.51px #222, -0.52px 0.52px #222, -0.53px 0.53px #222, -0.54px 0.54px #222, -0.55px 0.55px #222, -0.56px 0.56px #222, -0.57px 0.57px #222, -0.58px 0.58px #222, -0.59px 0.59px #222, -0.6px 0.6px #222, -0.61px 0.61px #222, -0.62px 0.62px #222, -0.63px 0.63px #222, -0.64px 0.64px #222, -0.65px 0.65px #222, -0.66px 0.66px #222, -0.67px 0.67px #222, -0.68px 0.68px #222, -0.69px 0.69px #222, -0.7px 0.7px #222, -0.71px 0.71px #222, -0.72px 0.72px #222, -0.73px 0.73px #222, -0.74px 0.74px #222, -0.75px 0.75px #222, -0.76px 0.76px #222, -0.77px 0.77px #222, -0.78px 0.78px #222, -0.79px 0.79px #222, -0.8px 0.8px #222, -0.81px 0.81px #222, -0.82px 0.82px #222, -0.83px 0.83px #222, -0.84px 0.84px #222, -0.85px 0.85px #222, -0.86px 0.86px #222, -0.87px 0.87px #222, -0.88px 0.88px #222, -0.89px 0.89px #222, -0.9px 0.9px #222, -0.91px 0.91px #222, -0.92px 0.92px #222, -0.93px 0.93px #222, -0.94px 0.94px #222, -0.95px 0.95px #222, -0.96px 0.96px #222, -0.97px 0.97px #222, -0.98px 0.98px #222, -0.99px 0.99px #222, -1px 1px #222, -1.01px 1.01px #222, -1.02px 1.02px #222, -1.03px 1.03px #222, -1.04px 1.04px #222, -1.05px 1.05px #222, -1.06px 1.06px #222, -1.07px 1.07px #222, -1.08px 1.08px #222, -1.09px 1.09px #222, -1.1px 1.1px #222, -1.11px 1.11px #222, -1.12px 1.12px #222, -1.13px 1.13px #222, -1.14px 1.14px #222, -1.15px 1.15px #222, -1.16px 1.16px #222, -1.17px 1.17px #222, -1.18px 1.18px #222, -1.19px 1.19px #222, -1.2px 1.2px #222, -1.21px 1.21px #222, -1.22px 1.22px #222, -1.23px 1.23px #222, -1.24px 1.24px #222, -1.25px 1.25px #222, -1.26px 1.26px #222, -1.27px 1.27px #222, -1.28px 1.28px #222, -1.29px 1.29px #222, -1.3px 1.3px #222, -1.31px 1.31px #222, -1.32px 1.32px #222, -1.33px 1.33px #222, -1.34px 1.34px #222, -1.35px 1.35px #222, -1.36px 1.36px #222, -1.37px 1.37px #222, -1.38px 1.38px #222, -1.39px 1.39px #222, -1.4px 1.4px #222, -1.41px 1.41px #222, -1.42px 1.42px #222, -1.43px 1.43px #222, -1.44px 1.44px #222, -1.45px 1.45px #222, -1.46px 1.46px #222, -1.47px 1.47px #222, -1.48px 1.48px #222, -1.49px 1.49px #222, -1.5px 1.5px #222, -1.51px 1.51px #222, -1.52px 1.52px #222, -1.53px 1.53px #222, -1.54px 1.54px #222, -1.55px 1.55px #222, -1.56px 1.56px #222, -1.57px 1.57px #222, -1.58px 1.58px #222, -1.59px 1.59px #222, -1.6px 1.6px #222, -1.61px 1.61px #222, -1.62px 1.62px #222, -1.63px 1.63px #222, -1.64px 1.64px #222, -1.65px 1.65px #222, -1.66px 1.66px #222, -1.67px 1.67px #222, -1.68px 1.68px #222, -1.69px 1.69px #222, -1.7px 1.7px #222, -1.71px 1.71px #222, -1.72px 1.72px #222, -1.73px 1.73px #222, -1.74px 1.74px #222, -1.75px 1.75px #222, -1.76px 1.76px #222, -1.77px 1.77px #222, -1.78px 1.78px #222, -1.79px 1.79px #222, -1.8px 1.8px #222, -1.81px 1.81px #222, -1.82px 1.82px #222, -1.83px 1.83px #222, -1.84px 1.84px #222, -1.85px 1.85px #222, -1.86px 1.86px #222, -1.87px 1.87px #222, -1.88px 1.88px #222, -1.89px 1.89px #222, -1.9px 1.9px #222, -1.91px 1.91px #222, -1.92px 1.92px #222, -1.93px 1.93px #222, -1.94px 1.94px #222, -1.95px 1.95px #222, -1.96px 1.96px #222, -1.97px 1.97px #222, -1.98px 1.98px #222, -1.99px 1.99px #222, -2px 2px #222, -2.01px 2.01px #222, -2.02px 2.02px #222, -2.03px 2.03px #222, -2.04px 2.04px #222, -2.05px 2.05px #222, -2.06px 2.06px #222, -2.07px 2.07px #222, -2.08px 2.08px #222, -2.09px 2.09px #222, -2.1px 2.1px #222, -2.11px 2.11px #222, -2.12px 2.12px #222, -2.13px 2.13px #222, -2.14px 2.14px #222, -2.15px 2.15px #222, -2.16px 2.16px #222, -2.17px 2.17px #222, -2.18px 2.18px #222, -2.19px 2.19px #222, -2.2px 2.2px #222, -2.21px 2.21px #222, -2.22px 2.22px #222, -2.23px 2.23px #222, -2.24px 2.24px #222, -2.25px 2.25px #222, -2.26px 2.26px #222, -2.27px 2.27px #222, -2.28px 2.28px #222, -2.29px 2.29px #222, -2.3px 2.3px #222, -2.31px 2.31px #222, -2.32px 2.32px #222, -2.33px 2.33px #222, -2.34px 2.34px #222, -2.35px 2.35px #222, -2.36px 2.36px #222, -2.37px 2.37px #222, -2.38px 2.38px #222, -2.39px 2.39px #222, -2.4px 2.4px #222, -2.41px 2.41px #222, -2.42px 2.42px #222, -2.43px 2.43px #222, -2.44px 2.44px #222, -2.45px 2.45px #222, -2.46px 2.46px #222, -2.47px 2.47px #222, -2.48px 2.48px #222, -2.49px 2.49px #222, -2.5px 2.5px #222, -2.51px 2.51px #222, -2.52px 2.52px #222, -2.53px 2.53px #222, -2.54px 2.54px #222, -2.55px 2.55px #222, -2.56px 2.56px #222, -2.57px 2.57px #222, -2.58px 2.58px #222, -2.59px 2.59px #222, -2.6px 2.6px #222, -2.61px 2.61px #222, -2.62px 2.62px #222, -2.63px 2.63px #222, -2.64px 2.64px #222, -2.65px 2.65px #222, -2.66px 2.66px #222, -2.67px 2.67px #222, -2.68px 2.68px #222, -2.69px 2.69px #222, -2.7px 2.7px #222, -2.71px 2.71px #222, -2.72px 2.72px #222, -2.73px 2.73px #222, -2.74px 2.74px #222, -2.75px 2.75px #222, -2.76px 2.76px #222, -2.77px 2.77px #222, -2.78px 2.78px #222, -2.79px 2.79px #222, -2.8px 2.8px #222, -2.81px 2.81px #222, -2.82px 2.82px #222, -2.83px 2.83px #222, -2.84px 2.84px #222, -2.85px 2.85px #222, -2.86px 2.86px #222, -2.87px 2.87px #222, -2.88px 2.88px #222, -2.89px 2.89px #222, -2.9px 2.9px #222, -2.91px 2.91px #222, -2.92px 2.92px #222, -2.93px 2.93px #222, -2.94px 2.94px #222, -2.95px 2.95px #222, -2.96px 2.96px #222, -2.97px 2.97px #222, -2.98px 2.98px #222, -2.99px 2.99px #222, -3px 3px #222, 0px -1px #222, 0.5px -1px #222, 1px 0px #222, 0.5px 0px #222;
 font-family: 'cabin';
 margin-top: 62.5%;
 transform: rotate(-22.5deg);
 font-size: 2.5vh;
 margin-left: 30%;
 white-space: nowrap;
}

.Phrase-2 {
 margin-left: 44%;
 margin-top: -2%;
}

.uno-cards {
 box-sizing: border-box;
 width: 100%;
 height: 51%;
 margin-top: 74%;
 position: relative;
}

.yellow-two-wrapper {
 position: absolute;
 width: 100%;
 height: 100%;
}

.yellow-two {
 height: 100%;
 width: 50%;
 border: transparent 1px solid;
 transform: rotate(20deg);
 margin-left: -9.5%;
 margin-top: 23.3%;
 border-radius: 10%;
 z-index: 5;
 background-color: var(--uno-white);
  box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.3);
}

.yellow-two-color {
 height: 90%;
 width: 89.3%;
 border: transparent 1px solid;
 border-radius: 10%;
 margin: 5%;
 z-index: 6;
 background-color: var(--uno-yellow);
}

.yellow-two-number {
 z-index: 3;
  font-size: 8vh;
 position: absolute;
 font-family: 'helvetica-bold';
 color: var(--uno-white);
 margin-top: -1.2%;
 font-weight: bold;
 text-shadow: -3px 2px #222, 1px -1px #222, 1px 0px #222, 0px -1px #222, 1px 2px #222;
 margin-left: 1%;
}

.green-three-wrapper {
 width: 100%;
 height: 100%;
 position: absolute;
}

.green-three {
 height: 100%;
 width: 50%;
 border: transparent 1px solid;
 transform: rotate(15deg);
 margin-left: 9.5%;
 margin-top: 22%;
 border-radius: 10%;
 z-index: 7;
 background-color: var(--uno-white);
  box-shadow: -6px 2px 0px 0px rgba(0,0,0,0.3);
}

.green-three-color {
 height: 90%;
 width: 89.3%;
 border: transparent 1px solid;
 border-radius: 10%;
 margin: 5%;
 z-index: 8;
 background-color: var(--uno-green);
}

.green-three-number {
 z-index: 3;
font-size: 8vh;
 position: absolute;
 font-family: 'helvetica-bold';
 color: var(--uno-white);
 margin-top: 0%;
 font-weight: bold;
 text-shadow: -3px 2px #222, 1px -1px #222, 1px 0px #222, 0px -1px #222, 1px 2px #222;
 margin-left: 3%;
}

.blue-four-wrapper {
 position: absolute;
 width: 100%;
 height: 100%;
}

.blue-four {
 height: 100%;
 width: 50%;
 border: transparent 1px solid;
 transform: rotate(1deg);
 margin-left: 31%;
 margin-top: 17%;
 border-radius: 10%;
 z-index: 8;
 background-color: var(--uno-white);
  box-shadow: -6px 2px 0px 0px rgba(0,0,0,0.3);
}

.blue-four-color {
 height: 90%;
 width: 89.3%;
 border: transparent 1px solid;
 border-radius: 10%;
 margin: 5%;
 z-index: 9;
 background-color: var(--uno-blue);
}

.blue-four-circle {
 width: 60%;
 height: 80%;
 padding-left: ;
}

.blue-four-number {
 z-index: 3;
 font-size: 8vh;
 position: absolute;
 font-family: 'helvetica-bold';
 color: var(--uno-white);
 margin-top: 0%;
 font-weight: bold;
 text-shadow: -4px 1px #222, 1px -1px #222, 1px 0px #222, 0px -1px #222, 1px 2px #222;
 margin-left: 5%;
}

.blue-four-number-center {
 z-index: 3;
 font-size: 18.5vh;
 position: absolute;
 font-family: 'helvetica-bold';
 color: var(--uno-white);
 margin-top: 33%;
 font-weight: bold;
 text-shadow: -8px 2px #222, 2px -2px #222, 1px 0px #222, 0px -1px #222, 1px 2px #222;
 margin-left: 25%;
}





.wild-card {
 height: 100%;
 width: 50%;
 border: transparent 1px solid;
 transform: rotate(-20deg);
 margin-left: 55.5%;
 margin-top: 3%;
 border-radius: 10%;
 z-index: 10;
 background-color: var(--uno-white);


  box-shadow: -6px 8px 0px 0px rgba(0,0,0,0.3);
}

.wild-card-color {
 height: 90%;
 width: 89.3%;
 border: transparent 1px solid;
 border-radius: 10%;
 margin: 5%;
 z-index: 11;
 background-color: var(--black);
}

.wild-card-wrapper {
 width: 100%;
 height: 100%;
 position: absolute;
}

.wildsign-wrapper {
 width: 20%;
 height: 22%;
 transform: skewx(-21deg);
 margin-left: 12%;
 margin-top: 10%;
 position: absolute;
}

.wildsign-box {
 width: 100%;
 height: 100%;
 position: relative;
}

.wildcard-wildsign-border {
 width: 500%;
 height: 500%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 position: absolute;
 z-index: 1;
 justify-self: center;
}

.border-top-left {
 width: 20%;
 height: 20%;
 background-color: var(--white);
 border-top-left-radius: 100%;
 grid-area: 1 / 1 / 2 / 2;
}

.border-top-right {
 width: 20%;
 height: 20%;
 background-color: var(--white);
 border-top-right-radius: 100%;
 transform: translateX(-405%);
 grid-area: 1 / 2 / 2 / 3;
}

.border-bottom-left {
 width: 20%;
 height: 20%;
 background-color: var(--white);
 border-bottom-left-radius: 100%;
 transform: translateY(-405%);
 grid-area: 2 / 1 / 3 / 2;
}

.border-bottom-right {
 width: 20%;
 height: 20%;
 background-color: var(--white);
 border-bottom-right-radius: 100%;
 transform: translatex(-405%)translateY(-405%);
 grid-area: 2 / 2 / 3 / 3;
 position: absolute;
}

.wildcard-wildsign-colors {
 width: 400%;
 height: 400%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 transform: translate(2.5%, 2.5%);
 position: absolute;
 z-index: 1;
}

.zero-red-top-left {
 width: 20%;
 height: 20%;
 background-color: var(--uno-red);
 border-top-left-radius: 100%;
 grid-area: 1 / 1 / 2 / 2;
  transform: translateX(1%);
}

.zero-blue-top-right {
 width: 20%;
 height: 20%;
 background-color: var(--uno-blue);
 border-top-right-radius: 100%;
 transform: translateX(-401.5%);
 grid-area: 1 / 2 / 2 / 3;
}

.zero-yellow-bottom-left {
 width: 20%;
 height: 20%;
 background-color: var(--uno-yellow);
 border-bottom-left-radius: 100%;
 transform: translateY(-400%) translateX(1%);;
 grid-area: 2 / 1 / 3 / 2;
}

.zero-green-bottom-right {
 width: 20%;
 height: 20%;
 background-color: var(--uno-green);
 border-bottom-right-radius: 100%;
 transform: translatex(-401.5%)translateY(-400%);
 grid-area: 2 / 2 / 3 / 3;
 position: absolute;
}

.wild-card-inner-circle {
 width: 70%;
 height: 100%;
 border-radius: 99%;
 border: var(--uno-white) 5px solid;
 z-index: 11;
 transform: skew(-21deg);
 position: absolute;
 margin-top: 7%;
 margin-left: 3%;
 border-bottom-right-radius: 100%;
}

.wild-card-circle-color {
 width: 380%;
 height: 520%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 transform: skewx(-21deg);
 margin-top: 10%;
 margin-left: -112%;
 position: absolute;
}

.blue-card-inner-circle {
 width: 75%;
 height: 100%;
 border-radius: 100%;
 border: var(--uno-white) 5px solid;
 z-index: 11;
 transform: skew(-21deg);
 position: absolute;
 margin-top: -100%;
 margin-left: 4%;
 border-bottom-right-radius: 130%;
}

.green-three-inner-circle {
 width: 75%;
 height: 100%;
 border-radius: 100%;
 border: var(--uno-white) 5px solid;
 z-index: 11;
 transform: skew(-21deg);
 position: absolute;
 margin-top: 0%;
 margin-left: 4%;
 border-bottom-right-radius: 130%;
}

.green-three-number-center {
 z-index: 3;
 font-size: 18.5vh;
 position: absolute;
 font-family: 'helvetica-bold';
 color: var(--uno-white);
 margin-top: 34%;
 font-weight: bold;
 text-shadow: -8px 2px #222, 2px -2px #222, 1px 0px #222, 0px -1px #222, 1px 2px #222;
 margin-left: 24%;
}








.yellow-two-inner-circle {
 width: 75%;
 height: 100%;
 border-radius: 100%;
 border: var(--uno-white) 5px solid;
 z-index: 11;
 transform: skew(-21deg);
 position: absolute;
 margin-top: -10%;
 margin-left: 4%;
 border-bottom-right-radius: 130%;
}

.players-wrapper {
 position: absolute;
 width: 25%;
 height: 7.5%;
 margin-top: 122%;
 z-index: 15;
}

.players-wrapper-2 {
 position: absolute;
 width: 25%;
 height: 7.5%;
 margin-top: -10%;
 margin-left: 74.2%;
 z-index: 15;
 transform: rotate(180deg) scaley(0.2) skewX(10deg);
}

.players-light-grey-background {
 height: 100%;
 width: 100%;
 margin-left: 0%;
 position: absolute;
 border-bottom-right-radius: 45%;
 border-top-right-radius: 45%;
 box-sizing: border-box;
 background-color: #404040;
}

.players-dark-grey-background {
 height: 100%;
 width: 60%;
 margin-left: 0%;
 position: absolute;
 border-bottom-right-radius: 60%;
 border-top-right-radius: 60%;
 box-sizing: border-box;
 background-color: #343434;
}

.players-unit-number {
 color: #969899;
 position: absolute;
 transform: rotate(90deg);
 font-size: 1.2vh;
 margin-top: 20%;
  margin-left: -1%;
}

.number-of-players {
 position: absolute;
 color: var(--uno-white);
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 1.2vh;
 margin-left: 24%;
 margin-top: 30.5%;
 font-weight: bold;
}

.people-playing-wrapper {
 width: 30%;
 aspect-ratio: 1 / 1;
 position: absolute;
 margin-top: 5%;
 margin-left: 20%;
}

.people-playing-left-head {
 width: 19%;
 height: 19%;
 border-radius: 100%;
 margin-left: 16%;
 margin-top: 32%;
 position: absolute;
 background-color: var(--uno-white);
}

.people-playing-left-torso-box {
 width: 22%;
 height: 15%;
 transform: skewX(-15deg);
 position: absolute;
 margin-top: 60%;
 margin-left: 9.5%;
 border-top-right-radius: 50%;
 background-color: var(--uno-white);
}

.people-playing-left-torso-circle {
 width: 21.5%;
 height: 20%;
 border-radius: 100%;
 position: absolute;
 margin-top: 53%;
 margin-left: 11%;
 background-color: var(--uno-white);
}

.people-playing-left-arm-box {
 width: 13.25%;
 height: 7%;
 position: absolute;
 margin-top: 62.5%;
 margin-left: 30%;
 background-color: var(--uno-white);
}

.people-playing-left-arm-circle {
 width: 6%;
 height: 7%;
 position: absolute;
 margin-top: 62.5%;
 margin-left: 40%;
 border-radius: 100%;
 background-color: var(--uno-white);
}

.people-playing-right-arm-box {
 width: 13.25%;
 height: 7%;
 position: absolute;
 margin-top: 62.5%;
 margin-left: 53%;
 background-color: var(--uno-white);
}

.people-playing-right-arm-circle {
 width: 6%;
 height: 7%;
 position: absolute;
 margin-top: 62.5%;
 margin-left: 50%;
 border-radius: 100%;
 background-color: var(--uno-white);
}

.people-playing-right-head {
 width: 19%;
 height: 19%;
 border-radius: 100%;
 margin-left: 60%;
 margin-top: 32%;
 position: absolute;
 background-color: var(--uno-white);
}

.people-playing-right-torso-circle {
 width: 21.5%;
 height: 20%;
 border-radius: 100%;
 position: absolute;
 margin-top: 53%;
 margin-left: 62%;
 background-color: var(--uno-white);
}

.people-playing-right-torso-box {
 width: 22%;
 height: 15%;
 transform: skewX(15deg);
 position: absolute;
 margin-top: 60%;
 margin-left: 63%;
 border-top-left-radius: 50%;
 background-color: var(--uno-white);
}

.people-playing-table-box {
 width: 21%;
 height: 4%;
 position: absolute;
 margin-top: 70.5%;
 margin-left: 36.5%;
 background-color: var(--uno-white);
}

.people-playing-table-left-circle {
 width: 4%;
 height: 4%;
 position: absolute;
 margin-top: 70.5%;
 margin-left: 35%;
 background-color: var(--uno-white);
 border-radius: 100%;
}

.people-playing-table-right-circle {
 width: 4%;
 height: 4%;
 position: absolute;
 margin-top: 70.5%;
 margin-left: 55.25%;
 background-color: var(--uno-white);
 border-radius: 100%;
}

.ages-wrapper {
 position: absolute;
 width: 30%;
 aspect-ratio: 1 / 1;
 z-index: 1;
 margin-left: 65%;
 margin-top: 13%;
}

.ages-svg-wrapper{width:100%; aspect-ratio: 1/1; position:absolute;}

.ages-left-head {
 position: absolute;
 width: 12%;
 height: 12%;
 background-color: var(--uno-white);
 margin-top: 19%;
 margin-left: 20%;
 border-radius: 100%;
}

.ages-left-body-box {
 position: absolute;
 width: 13%;
 height: 23%;
 background-color: var(--uno-white);
 margin-top: 32%;
 margin-left: 19.5%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
}

.ages-left-body-left-arm-box {
 position: absolute;
 width: 6%;
 height: 18%;
 background-color: var(--uno-white);
 margin-top: 34%;
 margin-left: 16.5%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 transform: rotate(-145deg);
 border-bottom-right-radius: 20%;
}

.ages-left-body-right-arm-box {
 position: absolute;
 width: 6%;
 height: 18%;
 background-color: var(--uno-white);
 margin-top: 34%;
 margin-left: 30%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 transform: rotate(145deg);
 border-bottom-left-radius: 20%;
}

.ages-right-body-left-arm-box {
 position: absolute;
 width: 6%;
 height: 25%;
 background-color: var(--uno-white);
 margin-top: 20%;
 margin-left: 35.5%;
 transform: rotate(-125deg);
 border-bottom-right-radius: 10%;
}

.ages-right-head {
 position: absolute;
 width: 15%;
 height: 15%;
 background-color: var(--uno-white);
 margin-top: 6%;
 margin-left: 43.5%;
 border-radius: 100%;
}

.ages-right-body-box {
 position: absolute;
 width: 17.5%;
 height: 32.5%;
 background-color: var(--uno-white);
 margin-top: 22%;
 margin-left: 42%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
}

.ages-right-body-right-arm-box {
 position: absolute;
 width: 7%;
 height: 30%;
 background-color: var(--uno-white);
 margin-top: 22%;
 margin-left: 57%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 transform: rotate(145deg);
 border-bottom-left-radius: 20%;
}

.ages-plus-sign-y {
 position: absolute;
 width: 5%;
 height: 16%;
 background-color: var(--uno-white);
 margin-top: 67%;
 margin-left: 48.5%;
 box-sizing: border-box;
 border-radius: 10%;
}

.ages-plus-sign-x {
 position: absolute;
 width: 16%;
 height: 5%;
 background-color: var(--uno-white);
 margin-top: 72.5%;
 margin-left: 43%;
 box-sizing: border-box;
 border-radius: 10%;
}

.ages-seven-x {
 position: absolute;
 width: 16%;
 height: 6%;
 background-color: var(--uno-white);
 margin-top: 62.5%;
 margin-left: 25%;
 box-sizing: border-box;
 border-radius: 5%;
 border-bottom-right-radius: 50%;
 border-radius: 10%;
}

.ages-seven-y {
 position: absolute;
 width: 6%;
 height: 26.5%;
 background-color: var(--uno-white);
 margin-top: 62.5%;
 margin-left: 31%;
 box-sizing: border-box;
 transform: skewX(-21deg);
 border-radius: 10%;
}

.uno-shapes-letters-container {
 width: 100%;
 height: 100%;
 z-index: 11;
 position: absolute;
}

.uno-2-wrapper {
 width: calc(100% - 1px);
 aspect-ratio: 1/1;
 position: absolute;
 overflow: hidden;
 transform: scaleY(1.1);
 margin-top: 7%;
  border-right: #b51e22 1px solid;
  box-sizing: border-box;
}

.uno-black-svg {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 12;
}

.uno-shapes-wrapper {
 width: 100%;
 height: 100%;
 position: absolute;
 overflow: hidden;
}

.uno-shapes-o-red-svg {
 width: 17%;
 height: 17%;
 position: absolute;
 margin-left: 72%;
 margin-top: 14.5%;
 z-index: 15;
}

.uno-shapes-u-svg {
 width: 128.7%;
 height: 133.65%;
 position: absolute;
 margin-left: -33.6%;
 margin-top: -26.44%;
 z-index: 15;
}

.uno-shapes-letters-box-1 {
 background: var(--uno-yellow);
 width: 5.8%;
 height: 29%;
 position: absolute;
 margin-top: 30.8%;
 margin-left: 9%;
 transform: rotate(-21deg);
 box-sizing: border-box;
 border-bottom-left-radius: 85%;
}

.uno-shapes-letters-box-2 {
 background: var(--uno-yellow);
 width: 5.8%;
 height: 29%;
 position: absolute;
 margin-top: 23.2%;
 margin-left: 29.8%;
 transform: rotate(-21deg);
 box-sizing: border-box;
 border-bottom-right-radius: 70%;
}

.uno-shapes-letters-box-3 {
 background: var(--uno-yellow);
 width: 5.8%;
 height: 32%;
 position: absolute;
 margin-top: 20%;
 margin-left: 39.6%;
 transform: rotate(-21deg);
 box-sizing: border-box;
 border-top-right-radius: 15%;
}

.uno-shapes-letters-box-4 {
 background: var(--uno-yellow);
 width: 5.2%;
 height: 36%;
 position: absolute;
 margin-top: 13.8%;
 margin-left: 50.2%;
 transform: rotate(-58.5deg);
 box-sizing: border-box;
}

.uno-shapes-letters-box-5 {
 background: var(--uno-yellow);
 width: 5.8%;
 height: 32%;
 position: absolute;
 margin-top: 12.2%;
 margin-left: 60.4%;
 transform: rotate(-21deg);
 box-sizing: border-box;
 border-bottom-left-radius: 15%;
}

.uno-shapes-letters-circle-1 {
 background: var(--uno-yellow);
 width: 32.35%;
 height: 32.5%;
 position: absolute;
 margin-top: 4.5%;
 margin-left: 67.8%;
 transform: rotate(-21deg)skew(1.5deg);
 box-sizing: border-box;
 border-radius: 100%;
}


.uno-white-background{position: relative;width: 100%;height: 100%;}

.uno-shapes-letters-circle-2 {
 background-color: var(--uno-bright-white);
 width: 20.75%;
 height: 22.5%;
 position: absolute;
 margin-top: 9.5%;
 margin-left: 73.6%;
 transform: rotate(-21deg)skew(1.5deg);
 box-sizing: border-box;
 border-radius: 100%;
}

.uno-shapes-white-background-circle-1 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 56.25%;
 margin-left: 10.6%;
 transform: rotate(-7deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-2 {
 background: var(--uno-bright-white);
 width: 30%;
 height: 21%;
 border-radius: 100%;
 position: absolute;
 margin-top: 23.5%;
 margin-left: 65.6%;
 transform: rotate(-5deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-3 {
 background: var(--uno-bright-white);
 width: 30%;
 height: 21%;
 border-radius: 100%;
 position: absolute;
 margin-top: 1%;
 margin-left: 65.6%;
 transform: rotate(-15deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-4 {
 background: var(--uno-bright-white);
 width: 30%;
 height: 21%;
 border-radius: 100%;
 position: absolute;
 margin-top: 1%;
 margin-left: 70.6%;
 transform: rotate(15deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-5 {
 background: var(--uno-bright-white);
 width: 30%;
 height: 21%;
 border-radius: 100%;
 position: absolute;
 margin-top: 20%;
 margin-left: 72%;
 transform: rotate(-25deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-6 {
 background: var(--uno-bright-white);
 width: 30%;
 height: 21%;
 border-radius: 100%;
 position: absolute;
 margin-top: 10.2%;
 margin-left: 75.3%;
 transform: rotate(0deg);
 box-sizing: border-box;
}

.circle-6-box-top {
 margin-left: 72.5%;
}

.uno-shapes-white-background-circle-7 {
 background: var(--uno-bright-white);
 width: 30%;
 height: 21%;
 border-radius: 100%;
 position: absolute;
 margin-top: 4%;
 margin-left: 60.6%;
 transform: rotate(-36deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-8 {
 background: var(--uno-bright-white);
 width: 10%;
 height: 15%;
 border-radius: 100%;
 position: absolute;
 margin-top: 51.4%;
 margin-left: 6.8%;
 transform: rotate(-53deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-9 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 56%;
 margin-left: 12.8%;
 transform: rotate(-12deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-10 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 51.2%;
 margin-left: 12%;
 transform: rotate(50deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-11 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 52%;
 margin-left: 0.1%;
 transform: rotate(50deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-12 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 47.3%;
 margin-left: 18%;
 transform: rotate(-70deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-13 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 50.8%;
 margin-left: 10.4%;
 transform: rotate(60deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-circle-14 {
 background: var(--uno-bright-white);
 width: 20%;
 height: 10%;
 border-radius: 100%;
 position: absolute;
 margin-top: 49.8%;
 margin-left: 10.8%;
 transform: rotate(-10deg);
 box-sizing: border-box;
}

.uno-shapes-white-background-box-1 {
 position: absolute;
 width: 12%;
 height: 30%;
 margin-left: 56%;
 margin-top: 8.9%;
 background: var(--uno-bright-white);
 transform: rotate(-20deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-top-left-radius: 6%;
}

.uno-shapes-white-background-box-2 {
 position: absolute;
 width: 20%;
 height: 30%;
 margin-left: 25.3%;
 margin-top: 18%;
 background: var(--uno-bright-white);
 transform: rotate(-200deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-top-left-radius: 5%;
}

.uno-shapes-white-background-box-3 {
 position: absolute;
 width: 17%;
 height: 30%;
 margin-left: 0.5%;
 margin-top: 27.8%;
 background: var(--uno-bright-white);
 transform: rotate(-20.9deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-4 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 1.6%;
 margin-top: 40.5%;
 background: var(--uno-bright-white);
 transform: rotate(-23deg);
 border-radius: 10%;
 border-bottom-left-radius: 50%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-5 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 39%;
 margin-top: 15%;
 background: var(--uno-bright-white);
 transform: rotate(-57deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-6 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 52.4%;
 margin-top: 32.25%;
 background: var(--uno-bright-white);
 transform: rotate(-57deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-7 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 42%;
 margin-top: 31%;
 background: var(--uno-bright-white);
 transform: rotate(-10deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-9 {
 position: absolute;
 width: 17%;
 height: 30%;
 margin-left: 20.5%;
 margin-top: 23%;
 background: var(--uno-bright-white);
 transform: rotate(-21.5deg);
 border-radius: 5%;
 box-sizing: border-box;
 border-top-left-radius: 10%;
}

.uno-shapes-white-background-box-10 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 35.2%;
 margin-top: 38.8%;
 background: var(--uno-bright-white);
 transform: rotate(-21deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-11 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 30.4%;
 margin-top: 41.5%;
 background: var(--uno-bright-white);
 transform: rotate(45deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-right-radius: 10%;
}

.uno-shapes-white-background-box-12 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 58.5%;
 margin-top: 30.8%;
 background: var(--uno-bright-white);
 transform: rotate(-21deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-left-radius: 50%;
}

.uno-shapes-white-background-box-13 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 60.5%;
 margin-top: 30%;
 background: var(--uno-bright-white);
 transform: rotate(-45deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-left-radius: 30%;
}

.uno-shapes-white-background-box-14 {
 position: absolute;
 width: 6%;
 height: 10%;
 margin-left: 60%;
 margin-top: 41.3%;
 background: var(--uno-bright-white);
 transform: rotate(-21deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-left-radius: 20%;
}

.uno-shapes-white-background-box-15 {
 position: absolute;
 width: 9%;
 height: 30%;
 margin-left: 54.75%;
 margin-top: 10.2%;
 background: var(--uno-bright-white);
 transform: rotate(-43deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-16 {
 position: absolute;
 width: 9%;
 height: 30%;
 margin-left: 24.8%;
 margin-top: 20.6%;
 background: var(--uno-bright-white);
 transform: rotate(-44deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-17 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 49.2%;
 margin-top: 14%;
 background: var(--uno-bright-white);
 transform: rotate(-21.5deg);
 border-radius: 10%;
 box-sizing: border-box;
}

.uno-shapes-white-background-box-18 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 40.2%;
 margin-top: 36.2%;
 background: var(--uno-bright-white);
 transform: rotate(-45deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-left-radius: 20%;
 border-bottom-right-radius: 20%;
}

.uno-shapes-white-background-box-19 {
 position: absolute;
 width: 10%;
 height: 20%;
 margin-left: 41.2%;
 margin-top: 31.5%;
 background: var(--uno-bright-white);
 transform: rotate(-21deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-right-radius: 5%;
}

.uno-shapes-white-background-box-20 {
 position: absolute;
 width: 40%;
 height: 20%;
 margin-left: 41.2%;
 margin-top: 16.8%;
 background: var(--uno-bright-white);
 transform: rotate(-21deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-right-radius: 5%;
}

.uno-shapes-white-background-box-21 {
 position: absolute;
 width: 6%;
 height: 20%;
 margin-left: 40.2%;
 margin-top: 37.6%;
 background: var(--uno-bright-white);
 transform: rotate(-21deg);
 border-radius: 10%;
 box-sizing: border-box;
 border-bottom-left-radius: 20%;
}

.box-top-o-svg {
 margin-top: 4.0%;
}


.wild-text-wrapper {
 width: 113%;
 aspect-ratio: 1/1;
 position: absolute;
 z-index: 20;
 margin-top: 30%;
 margin-left: -25%;
 transform: rotate(19deg);
}

.wild-text-shapes {
 width: 100%;
 height: 100%;
 position: absolute;
 z-index: 10;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 1fr;
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 margin-top: -60%;
}

.wild-svg-d {
 fill: var(--uno-green);
}

.wild-background {
 filter: box-shadow(0px 0px px var(--uno-white));
 grid-area: 1 / 2 / 2 / 3;
 position: absolute;
 margin-top: 0%;
 margin-left: -70%;
}

.wild-svg-main {
 grid-area: 1 / 1 / 2 / 2;
 position: absolute;
 margin-top: -497.7%;
 margin-left: 22.4%;
 filter: drop-shadow(1px 1px 1px var(--uno-white));
}

.wild-svg-w {
 fill: var(--uno-red);
}

.wild-svg-i {
 fill: var(--uno-blue);
}

.wild-svg-L {
 fill: var(--uno-yellow);
}

.wild-text-background-color-1 {
 width: 42%;
 height: 20%;
 background-color: var(--uno-white);
 position: absolute;
 margin-top: 90%;
 transform: rotate(-21deg);
 margin-left: 24%;
}

.wild-text-background-color-2 {
 width: 25%;
 height: 20%;
 background-color: var(--uno-white);
 position: absolute;
 margin-top: 78%;
 transform: rotate(-20.5deg);
 margin-left: 65.8%;
 border-bottom-right-radius: 55%;
 border-top-left-radius: 100%;
 border-top-right-radius: 100%;
}
